



body {
  background-image: url("background.jpg");
  font: 75%;
  line-height: 1.88889;
  color: black;

  margin: 25px;
  padding: 0;
}

.page {
  background-image: url("background.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .2;
    
}


.intro { 
  
  border: solid red;
	/* min-width: 470px;
	width: 100%; */

	}

/* header formatting */
header h1 {
  
  margin-top: 10px;
  display: flex;
  font: normal 1.4em georgia, sans-serif;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 500px;

  display: flex;
  flex-direction: column;


}

header h2{
  margin-top: 10px;
  display: flex;
  font: normal 1.4em georgia, sans-serif;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 500px;

  display: flex;
  flex-direction: column;

}


.summary{
  border: solid red;
}


.road-to-enlightenment{
  border: none;
}



.so-what-is-this-about{
  border: none;
}


.participation{
  border: solid red;
}


.benefits{
  border: none;
}

.requirements{
  border: solid red;
}

.side-bar{

}


.contact-info{
  border: solid red;
}


.footer{
 border: solid red;
}
