h1{
    text-align: center;
}
@media {
  .dj_css {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 100px;
    
  }

  #box1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }

  #box1:hover {
    background-color: blue;
    transition: background-color 1s linear 1s;
  }

  #box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }

  #box2:hover {
    width: 200px;
    height: 200px;
    background-color: firebrick;
    border-radius: 25px;
    transition: background-color 1s linear 1s, border-radius 3s;
  }

  #box3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    
  }

  #box3:hover {
    box-shadow: 10px 15px black;
    transition: box-shadow 1s;
  }

  #box4 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }

  #box4:hover{
    width: 200px;
    height: 400px;
    background-color: turquoise;
    transition: height 1s;

  }

  #box5 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
   
  }

  #box6 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* background-color: cornflowerblue; */
  }
}
